
@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

body {
    margin: 20px;
}

#main-canvas {
}

#ballSvg {
    width: 30px;
    height: 30px;
}
